@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Ribeye&family=Roboto:wght@100..900&display=swap");

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  line-height: 160%;
  color: $textColorDark;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/*header*/
.header {
  position: relative;
  padding: 3.5rem 0;
  z-index: 5;
  color: $textColorWhite;

  &__logo {
    margin-right: 3rem;
    font-family: "Ribeye", serif;
    font-size: 2.4rem;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &__menu {
    margin-right: 3rem;
  }

  &__button {
    @include button(16.3rem, 5.1rem);
  }
}

.menu {
  &__list {
    position: relative;
    z-index: 7;
    display: flex;
    align-items: center;
    gap: 5rem;
  }

  &__link {
    transition: all 0.5s ease;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    &__button {
      @include button(14rem, 4.8rem);
    }
  }
  .menu {
    &__list {
      gap: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__items {
      flex-wrap: nowrap;
    }

    &__button {
      margin-right: 6rem;
    }
  }

  .menu {
    &__list {
      @include menu;
      transform: translate3d(-100vw, 0, 0);
    }
    &__burger {
      @include burger(4.3rem, 1.5rem);
      span {
        position: absolute;
        background-color: $textColorWhite;
        left: 0;
        top: 1.4rem;
        width: 100%;
        height: 0.3rem;
        transition: all 0.3s ease 0s;
      }
      &::before,
      &::after {
        content: "";
        background-color: $textColorWhite;
        position: absolute;
        width: 100%;
        height: 0.3rem;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
    }
  }

  .menu__burger_active {
    @include burger(4.3rem, 1.5rem);
    z-index: 8;
    span:first-child {
      position: absolute;
      background-color: $textColorWhite;
      left: 0;
      top: 1.4rem;
      width: 100%;
      height: 0.3rem;
      transform: rotate(45deg);
    }
    span:last-child {
      position: absolute;
      background-color: $textColorWhite;
      left: 0;
      top: 1.4rem;
      width: 100%;
      height: 0.3rem;
      transform: rotate(-45deg);
    }
  }

  .menu__list_active {
    @include menu;
    transform: translate3d(0vw, 0, 0);
  }
}

@media (max-width: 480px) {
  .header {
    &__items {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 2rem 0;
    }

    &__logo {
      width: 100%;
    }

    &__menu {
      margin-right: 0;
    }

    &__button {
      @include button(12rem, 4rem);
    }
  }
}

/*main*/
.section-title {
  @include title(4.3rem, 140%, 500);
  margin-bottom: 2rem;
  text-align: center;
}

.section-text {
  margin: 0 auto 5rem;
  max-width: 73.5rem;
  text-align: center;
}


@media (max-width: 480px) {
  .section-title {
    font-size: 4rem;
  }
  .section-text {
    max-width: 35rem;
  }
}


/*hero*/
.hero {
  height: 77.9rem;
  padding: 20rem 0 3.5rem;
  color: $textColorWhite;

  &__fon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90rem;
    overflow: hidden;
    z-index: -1;
  }

  &__fon-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90rem;
    z-index: 3;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__fon-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90rem;
    z-index: 2;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
    }
  }

  &__title-block {
    height: 100%;
  }

  &__title {
    @include title(6.5rem, 120%, 700);
    margin-bottom: 3rem;
  }

  &__text {
    margin-bottom: 4rem;
    max-width: 45.8rem;
  }

  &__button {
    @include button(18.7rem, 5.9rem);
  }
}

@media (max-width: 1024px) {
  .hero {
    height: 57.9rem;
    padding: 15rem 0 3.5rem;
    &__fon {
      height: 70rem;
    }

    &__fon-img {
      height: 70rem;
    }

    &__title {
      font-size: 4.8rem;
    }

    &__button {
      @include button(14rem, 4.8rem);
    }
  }
}

@media (max-width: 768px) {
  .hero {
    height: 47.9rem;
    padding: 9rem 0 3.5rem;
    &__fon,
    &__fon-img {
      height: 60rem;
    }

    &__title {
      font-size: 4rem;
    }

    &__text {
      max-width: 40rem;
    }
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 5rem 0 3.5rem;

    &__title {
      margin-bottom: 2rem;
      font-size: 3.2rem;
    }

    &__text {
      margin-bottom: 2rem;
      font-size: 1.6rem;
    }

    &__button {
      @include button(12rem, 4rem);
    }
  }
}

@media (max-width: 375px) {
  .hero {
    &__title {
      font-size: 3rem;
    }
  }
}

/*Popular Location*/
.popular-location {
  padding: 14rem 0 7rem;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

.location-cart {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border: 0.1rem solid $popularItemBorderColor;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 0.6rem 3.5rem $popularItemBoxShadow;

  &__img {
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 3.5rem 2.7rem 3.3rem;
  }

  &__title {
    @include title(2.4rem, 150%, 500);
    margin-bottom: 1rem;
  }
}

@media (max-width: 1090px) {
  .popular-location {
    padding: 10rem 0 7rem;
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .popular-location {
    padding: 8rem 0 7rem;
  }
}

@media (max-width: 600px) {
  .popular-location {
    &__items {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 480px) {
  .popular-location {
    padding: 4rem 0 7rem;
  }
  .location-cart {
    &__info {
      padding: 2rem 1.5rem;
    }
  }
}

/*special offers*/
.special-offers {
  padding: 7rem 0 14rem;

  &__slider {
    padding: 1rem;
  }
}

.slick-slider {
  height: 99% !important;
}

.card-special {
 margin: 0 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.6rem 3.5rem $popularItemBoxShadow;
  overflow: hidden;
  cursor: pointer;

  &__img {
    width: 100%;
    img {
      width: 100%;
    }
  }

  &__content {
    padding: 2rem 0.5rem;
  }

  &__info {
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  &__title {
    @include title(2.4rem, 150%, 500);
    margin-bottom: 0.8rem;
  }

  &__country,
  &__rating {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__country-name {
    font-size: 2rem;
    opacity: 0.6;
  }

  &__duration {
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    opacity: 0.6;
  }

  &__price {
    font-weight: 500;
    span {
      font-weight: 400;
      opacity: 0.6;
    }
  }
}

.slick-dots {
  bottom: -5.2rem !important;

  li {
    button::before {
      color: $buttonColorBackground !important;

    }
  }
}

@media (max-width: 1024px) {
  .special-offers {
    padding: 2rem 0 10rem;
  }
}

@media (max-width: 570px) {
  .card-special {
    margin: 0 0.5rem;
  }
}

@media (max-width: 320px) {
  .slick-dots {
  bottom: -8rem !important;

  li {
    width: 1.5rem !important;
  }
}
}




