@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Ribeye&family=Roboto:wght@100..900&display=swap");

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  line-height: 160%;
  color: $textColorDark;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/*header*/
.header {
  position: relative;
  padding: 3.5rem 0;
  z-index: 5;
  color: $textColorWhite;

  &__logo {
    margin-right: 3rem;
    font-family: "Ribeye", serif;
    font-size: 2.4rem;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &__menu {
    margin-right: 3rem;
  }

  &__button {
    @include button(16.3rem, 5.1rem);
  }
}

.menu {
  &__list {
    position: relative;
    z-index: 7;
    display: flex;
    align-items: center;
    gap: 5rem;
  }

  &__link {
    transition: all 0.5s ease;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    &__button {
      @include button(14rem, 4.8rem);
    }
  }
  .menu {
    &__list {
      gap: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__items {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 600px) {
  .header {
    &__items {
      flex-wrap: nowrap;
    }

    &__button {
      margin-right: 6rem;
    }
  }

  .menu__list {
    @include menu;
    transform: translate3d(-100vw, 0, 0);
  }

  .menu__burger {
    display: block;
    position: absolute;
    top: 4.3rem;
    right: 1.5rem;
    width: 4rem;
    height: 3rem;
    z-index: 8;
    transition: all 0.5s ease;
  }

  .menu__burger span {
    position: absolute;
    background-color: $textColorWhite;
    left: 0;
    top: 1.4rem;
    width: 100%;
    height: 0.3rem;
    transition: all 0.3s ease 0s;
  }

  .menu__burger::before,
  .menu__burger::after {
    content: "";
    background-color: $textColorWhite;
    position: absolute;
    width: 100%;
    height: 0.3rem;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .menu__burger::before {
    top: 0;
  }

  .menu__burger::after {
    bottom: 0;
  }

  .menu__burger_active span {
    transform: scale(0);
  }

  .menu__burger_active::before {
    background-color: $textColorWhite;
    transform: rotate(45deg);
    top: 1.9rem;
  }

  .menu__burger_active::after {
    background-color: $textColorWhite;
    transform: rotate(-45deg);
    bottom: 0.8rem;
  }

  .menu__list_active {
    @include menu;
    transform: translate3d(0vw, 0, 0);
  }
}

@media (max-width: 480px) {
  .header {
    &__items {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 2rem 0;
    }

    &__logo {
      width: 100%;
    }

    &__menu {
      margin-right: 0;
    }

    &__button {
      @include button(12rem, 4rem);
    }
  }
}

/*main*/
/*hero*/
.hero {
  padding: 20rem 0 3.5rem;
  color: $textColorWhite;

  &__fon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90rem;
    overflow: hidden;
    z-index: -1;
  }

  &__fon-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90rem;
    z-index: 3;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__fon-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90rem;
    z-index: 2;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
    }
  }

  &__title-block {
    height: 100%;
  }

  &__title {
    @include title(6.5rem, 120%, 700);
    margin-bottom: 3rem;
  }

  &__text {
    margin-bottom: 4rem;
    max-width: 45.8rem;
  }

  &__button {
    @include button(18.7rem, 5.9rem);
  }
}

@media (max-width: 1024px) {
  .hero {
    padding: 15rem 0 3.5rem;
    &__fon {
      height: 70rem;
    }

    &__fon-img {
      height: 70rem;
    }

    &__title {
      font-size: 4.8rem;
    }

    &__button {
      @include button(14rem, 4.8rem);
    }
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 9rem 0 3.5rem;
    &__fon,
    &__fon-img {
      height: 60rem;
    }

    &__title {
      font-size: 4rem;
    }

    &__text {
      max-width: 40rem;
    }
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 5rem 0 3.5rem;

    &__title {
      margin-bottom: 2rem;
      font-size: 3.2rem;
    }

    &__text {
      margin-bottom: 2rem;
      font-size: 1.6rem;
    }

    &__button {
      @include button(12rem, 4rem);
    }
  }
}

@media (max-width: 375px) {
  .hero {
    &__title {
      font-size: 3rem;
    }
  }
}
